.Main {
    padding: 15px;
}
.content {
    background-color: transparent;
    display: flex;
    gap: 60px;
}
.content > svg {
    display: block;
}
.preview {
    width: 30vw;
    height: 100%;
}
.header {
    color: white;
}
.crawl {
    margin-top: 10px;
    margin-right: 40px;
    color: white;
}
.characters {
    display: flex;
    overflow: scroll;
    width: 60vw;
    gap: 30px;
    padding-bottom: 25px;
}
.hero {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 24px;
    padding: 20px;
}
.hero_img_wrapper {
    height: 30vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.hero_img_wrapper > img {
    height: 30vh;
}
.hero_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    min-width: 138px;
}
.hero_text > p {
    text-align: center;
}
.hero_text > a {
    color: white;
    text-align: center;
    text-decoration: none;
}
.hero_text > a > span {
    text-decoration: underline;
}
h2 {
    color: white;
    margin: 30px 0;
    margin-top: 40px;
}

.loading {
    position: absolute;
    top: 45vh;
    left: 45vw;
    width: 60px;
}

.hero_venicles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    min-width: 384px;
}
.hero_venicles > p {
    text-align: center;
}
.hero_venicles > a {
    color: white;
    text-align: center;
    text-decoration: none;
}
.hero_venicles > a > span {
    text-decoration: underline;
}

@media (max-width: 1025px) {
    .content {
        flex-direction: column;
    }
    .preview {
        width: 45vw;
        margin: 0 auto;
    }
    .characters {
        width: 90vw;
    }
    .hero_img_wrapper {
        width: 35vw;
    }
    .desc {
        margin-left: 20px;
    }
}

@media (max-width: 425px) {
    .hero_img_wrapper {
        width: 280px;
    }
    .hero_venicles {
        min-width: 75vw;
    }
    .preview {
        width: 75vw;
    }
}

@media (max-width: 320px) {
    .hero_img_wrapper {
        width: 230px;
    }
}